grpcio
grpcio-tools
langchain-community
langchain-core
langchain-openai
langchain-ollama
rich
prompt-toolkit
langgraph == 0.2.3
mypy-protobuf

# For the type checker
mypy
lxml-stubs
pandas-stubs
types-Pillow
types-PyYAML
types-Pygments
types-beautifulsoup4
types-jsonschema
types-protobuf
types-psutil
types-redis
types-regex
types-requests
types-tqdm
types-tree-sitter
types-tree-sitter-languages
types-xmltodict
grpc-stubs
types-openpyxl